@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/sizes.scss';
@import '../../../../styles/responsive';
.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    &__rrss-container {
        width: 30%;
        flex-direction: row;
        justify-content: center;
        margin: 30px 0 82px;
        @include tablet {
            width: 20%;
        }
        @include desktop {
            width: 6%;
        }
        &__img {
            margin: 0 10px;
            width: 100%;
            .img {
                width: 100%;
            }
        }
    }
}

.main-text {
    text-align: center;
    font-size: $mainsize;
    margin: 91px 21px 10px;
    @include desktop {
        max-width: 600px;
        font-size: $mainsize-desktop;
    }
}