<article class="article flex-container">
    <p class="main-text">Follow us</p>
    <div class="article__rrss-container flex-container">
        <div class=" article__rrss-container__img flex-container" *ngFor="let icon of rrss.icon">
            <a href="#">
                <img class="img" src="{{icon.url}}" alt="{{icon.alt}}">
            </a>
        </div>

    </div>
</article>