<article class="article flex-container">
    <div class="article__logo-container flex-container">
        <img class="article__logo-container__logo animation" src="{{cover.logo}}" alt="">
    </div>
    <div class="description-container flex-container">
        <div class="description-container__description flex-container">
            <p class="main-text ">{{cover.description}}</p>
        </div>
        <div class="description-container__images flex-container">
            <div class="flex-container" *ngFor="let img of cover.img">
                <img class="img" src="{{img.url}}" alt="{{img.alt}}">
            </div>
        </div>

    </div>
</article>