@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/sizes.scss';
@import '../../../../styles/responsive';
.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    &__logo-container {
        width: 75%;
        height: 100vh;
        justify-content: center;
        @include tablet {
            width: 40%;
        }
        @include desktop {
            width: 12%;
        }
        &__logo {
            width: 100%;
        }
    }
}

.animation {
    animation-name: spin;
    animation-duration: 40000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.description-container {
    background-color: $secondary-color;
    color: $primary-color;
    @include desktop {
        flex-direction: row;
        height: 600px;
        justify-content: space-between;
    }
    &__description {
        margin: 92px 21px;
        @include tablet {
            margin: 124px 45px;
        }
        @include desktop {
            width: 40%;
        }
    }
    &__images {
        width: 100%;
        @include desktop {
            flex-direction: row;
            width: 60%;
        }
    }
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    @include tablet {
        height: 400px;
    }
    @include desktop {
        height: 600px;
    }
}

.main-text {
    text-align: center;
    font-size: $mainsize;
    margin: 91px 21px 10px;
    @include desktop {
        max-width: 600px;
        font-size: $mainsize-desktop;
    }
}