@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/sizes.scss';
@import '../../../../styles/responsive';
.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.form {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
    &__fieldset {
        border: none;
    }
    &__input {
        border: none;
        border-bottom: 3px solid $secondary-color;
        background: $primary-color;
        color: $secondary-color;
        font-size: $mainsize;
        @include desktop {
            font-size: $mainsize-desktop;
        }
    }
    &__button {
        padding: 0 30px 24px;
        background-color: $primary-color;
        border: none;
        color: $secondary-color;
        font-size: $mainsize;
        @include desktop {
            font-size: $mainsize-desktop;
        }
    }
    &__button:hover {
        color: $third-color;
    }
}

.main-text {
    text-align: center;
    font-size: $mainsize;
    @include desktop {
        max-width: 600px;
        font-size: $mainsize-desktop;
    }
}