<article class="article flex-container">
    <p class="main-text">Subscribe to our newsletter for news and future events info</p>
    <form class="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="newsletterForm">
        <fieldset class="form__fieldset">
            <label for="name"></label>
            <input class="form__input" type="text" id="name" formControlName="name" placeholder="your name,">
            <div *ngIf="
            (!newsletterForm.get('name').valid && 
            newsletterForm.get('name').dirty) || submitted
            ">
                <p>Invalid name</p>

            </div>
        </fieldset>
        <fieldset class="form__fieldset">
            <label for="age"></label>
            <input class="form__input" type="number" id="age" formControlName="age" placeholder="your age,">
            <div *ngIf="
            (!newsletterForm.get('age').valid && 
            newsletterForm.get('age').dirty) || submitted
            ">
                <p>Invalid age</p>

            </div>
        </fieldset>
        <fieldset class="form__fieldset">
            <label for="email"></label>
            <input class="form__input" type="text" id="email" formControlName="email" placeholder="your email">
            <div *ngIf="
            (!newsletterForm.get('email').valid && 
            newsletterForm.get('email').dirty) || submitted
            ">
                <p>Invalid email</p>

            </div>
        </fieldset>
        <button class="form__button" type="submit">submit</button>
    </form>

</article>