/* You can add global styles to this file, and also import other style files */

@import './styles/colors.scss';
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: $primary-color;
    color: $secondary-color;
}